<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jumahe.bluetoothapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
	
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.VIBRATE" />
    
    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
		<activity
            android:name=".BluetoothApp"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.phonegap.plugin.localnotification.AlarmReceiver" ></receiver>
		<receiver android:name="com.phonegap.plugin.localnotification.AlarmRestoreOnBoot" >
	    	<intent-filter>
	        	<action android:name="android.intent.action.BOOT_COMPLETED" />
	    	</intent-filter>
		</receiver>
    </application>

</manifest>
